# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Данные для подключения к базе данных PostgreSQL
POSTGRESQL_DATABASE_AVAILABLE = "available_database_name"
POSTGRESQL_USER = "your_user_name"
POSTGRESQL_PASSWORD = "your_password"

